.admin {
  width: min(80%, 1200px);
  margin: 5rem auto;
  &__content {
    margin: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // margin: 7rem auto;
    // grid-gap: 5rem;
    .items {
      margin: 5rem 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .open-modal {
      background-color: white;
      color: black;
      padding: 1rem 1.5rem;
      border-radius: 100%;
      font-size: 2rem;
    }
  }
}
