.admin {
  width: min(80%, 1200px);
  margin: 5rem auto;
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 7rem auto;
    grid-gap: 5rem;
  }
}
