@use "../abstracts" as a;

// general

.btn-icon {
  padding: 1rem;
  &__open {
    // background-color: a.$accent-color-blue;
    text-align: center;
    padding: 1rem;
  }

  &__delete {
    // background-color: a.$accent-color-red;
    padding: 1rem;
  }
}
