@use "../abstracts" as a;

.hero {
  position: relative;

  &__img {
    min-height: 100vh;
    width: 100%;
    @include a.parallax;
  }

  &__home {
    background-image: url("../../assets/images/home_banner.jpg");
  }
  &__menu {
    background-image: url("../../assets/images/menu_banner.jpg");
  }
}
