@use "../abstracts" as a;

#modal {
  z-index: 1;
}

.modal__background {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    to right top,
    #1d1d2c,
    #2d3f57,
    #316682,
    #2e90a8,
    #3cbcc3
  );
  transition: all 0.3s ease-in-out;
  overflow-y: initial;
}

.modal__content {
  position: relative;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lighten(transparent, 50%);
  border: 1px solid lighten(a.$color-grey-900, 10%);
  width: min(95%, 600px);
  padding: 3rem;
  border-radius: 16px;
  max-height: 80vh;
  min-height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.modal__button {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
