@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Long+Cang&family=Poppins&display=swap");

// colors
$accent-color-red: #e40c2b;
$accent-color-blue: #3cbcc3;
$accent-color-green: #438945;
$accent-color-yellow: #eba63f;
$color-grey-300: #f7f4e9;
$color-grey-900: #1d1d2c;

// fonts
$text: "Poppins", sans-serif;
$heading: "Long Cang", cursive;
$special: "Inter", sans-serif;

// spacing
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;
